
body
{
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
margin-top: 0%;
width: 100%;
font-size:larger;
}
canvas{
    border-radius: 20px;
    border: 20px;
    box-shadow: 20px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

